.main {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 200px);
  margin: 0 auto;
  grid-gap: 48px;

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding: 0 104px;
  }
}
