$activeStarsProduct : 4;

.stars {
  display: grid;
  grid-template-columns: repeat(5, 15px);
  gap: 0 4px;

  &__star {
    width: 15px;
    height: 15px;
    background: url(../images/star.svg) no-repeat center;

    &:nth-child(-n+#{$activeStarsProduct}) {
      background: url(../images/star-active.svg) no-repeat center;
    }
  }
}
